/* basic styles, nothing fancy */
div {
  margin: 10px 0;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
}
